asgiref
Django
django-cors-headers
django-jsonfield
django-mssql-backend
django-versatileimagefield
djangorestframework
djangorestframework-simplejwt
gower
joblib
numpy
pandas
Pillow
PyJWT
pyodbc
python-dateutil
python-magic
pytz
scikit-learn
scipy
six
sqlparse
threadpoolctl
xlrd
requests
SQLAlchemy
lxml
django-saml2-auth
django-sslserver
Jinja2
pdfkit
django-redis
python-dotenv
statsmodels
XlsxWriter
azure-msi-mssql-django
django-easy-audit
openpyxl
