::ng-deep .mat-expansion-panel-header{
    padding: 0px 8px!important;
}

::ng-deep .mat-expansion-panel-header.mat-expanded{
    // height: 10px!important;
    border-bottom: 1px solid lightgray!important;
    border-radius: 0!important;
}

::ng-deep .mat-expansion-panel-body{
    padding: 16px 24px 16px!important;
    border-bottom: 1px solid lightgrey!important;
}
