<header class="header-margin" style="height: 70px;">
	
			
				<div class="" style="display:flex;justify-content:center;align-items:center;gap:5px;background-color: #F68F1D;border-right: 5px solid #fff;height: 60px;">
					<a href="login">
						<!-- <img src="assets/images/home-run.png" alt="mcd"
							style="height: 25px;color:white;cursor: pointer;margin-top: 10px;" /> -->
					</a> 
					<a class="navbar-brand" href="login" translate style="margin: 12px 0 0 0;">
						<span style=""><b style="color:white;font-size: 25px;font-weight: 920;margin-bottom: 15px;"></b></span>
					</a>
				</div>  
				  
				
			
	
</header>

<div style="display: flex; justify-content:center; align-items: center;height:50vh;">
	<div style=" ">
		<div style="font-size: 36px;">
			Welcome to the accelerator home !
		 </div>
		<a href="/"> <button style="margin-left:250px;margin-top:10px;padding:5px;">Lets start</button></a>
	</div>
</div>

