<header class="header-margin">
	<nav class="bg-black navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="row text-center" style="height: 60px;margin: 0;">
				<div class="col-md-3" style="background-color: #F68F1D;border-right: 5px solid #fff;height: 60px;">
					<a href="login">
						<img src="assets/images/home-run.png" alt="mcd"
							style="height: 30px;margin: 0px 19px 15px -10%;cursor: pointer;" />
					</a> 
					<a class="navbar-brand" href="login" translate style="margin: 12px 0 0 0;">
						<span style=""><b style="font-size: 25px;font-weight: 920;">T&L Tool</b></span>
					</a>
				</div>
				<div class="col-md-7">
					<span class="head-text"><a class="navbar-brand"><b style="font-size: 25px;">T&L Scenario Tool</b></a></span>
					<!-- <span><b style="color: #fff;font-size: 13px;margin: 0 0% 2% -1.95%;">Netherlands</b></span> -->
				</div>
				<div class="col-md-2">
					<ng-container *ngIf="!islogin">
						<!-- <img src="assets/images/flag.png" alt="mcd" style="height: 50px;margin: 5px 0px 0px 0px" /> -->
					</ng-container>
					<ng-container *ngIf="islogin">
						<div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
							<div class="navbar-nav ml-auto">
								<div class="nav-item" ngbDropdown placement="bottom-right">
									<div class="dropdown">
										<a id="user-dropdown" class="nav-link" ngbDropdownToggle
											style="margin: 5px 60px 0px 0px;">
											<img src="assets/images/flag.png" alt="mcd"
												style="height: 50px;margin: 5px 0px 0px 0px" />
												<span
												style="    margin: 0px 0px 0px 10px;font-size: 18px;color: #fff;">{{user_name}}</span>
										</a>
										<div class="dropdown-content" style="cursor:pointer">
											<p (click)="logout()">Logout</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</nav>
</header>
<div class="row">
	<div class="col-md-6">
		<img src="assets/images/login-image-ta.png" class="col-md-12" style="height:100%;margin: 5px 0 0 -15px;" />
		<div class="centered">
			<h3 style="margin-top: 20px;margin-left:15px;">
				<b style="color: #fff;margin:0%">Tool to help design tests, select suitable test & control
				stores & help analyze the impact of the conducted tests.</b>
			</h3>
			<!-- <div style="margin: 6% 0 0 9%;">
				<ul type="disc">
					<li><span style="margin: 0 0 0 15px;"><b style="color: #fff;font-size: 15px;">Design tests to study
								the changes in frequency and duration of visit</b></span></li><br>
					<li><span style="margin: 0 0 0 15px;"><b style="color: #fff;font-size: 15px;">Select suitable test
								and control stores </b></span></li><br>
					<li><span style="margin: 0 0 0 15px;"><b style="color: #fff;font-size: 15px;">Comparison of test
								outcome between test and control stores </b></span></li><br>
					<li><span style="margin: 0 0 0 15px;"><b style="color: #fff;font-size: 15px;">Keep track of
								historical test data</b></span></li>
				</ul>
			</div> -->
		</div>
	</div>
	<div class="col-md-6">

		<div class="centeredlogin req_msg" *ngIf="userNotMappedMsgShow == true">
			<div class="reg_msg_bg">
				<h1 class="req_msg_col">Currently you are not mapped to any specific market in the FAST tool. Please email to any one of the following ids to request access.</h1>
				<a class="email">monica.devarajulu@effem.com</a> <br>
				<a class="email">sambhav.rangarajan@effem.com</a>
				<a class="email">arvind.gunasekar@effem.com</a>
				<h1 class="req_msg_col pad-top">You will receive a email notification once access has been granted.</h1>
			</div>
		</div>

		<div class="centeredlogin" *ngIf="userNotMappedMsgShow == false">
			<!-- <h2 style="text-align: center;"><b style="color: #0000A0;font-size: 23px;">LOGIN</b></h2> -->
			<form (ngSubmit)="Login()" [formGroup]="loginForm" novalidate>

					<div class="alert alert-danger" [hidden]="!error || isLoading" translate>
						Username or password incorrect.
					</div>
					<div class="form-group imagetextbox">
						<label>Username</label>
						<label class="d-block">
							<img src="assets/images/user-name.png" class="">
							<input type="text" class="form-control bordernone" formControlName="username"
								autocomplete="username" required />
							<span class="text-danger" [hidden]="EnterUsername">Username is required</span>
						</label>
					</div>
					<div class="form-group imagetextbox">
						<label>Password</label>
						<label class="d-block">
							<img src="assets/images/password.png" class="">
							<input type="password" class="form-control bordernone" formControlName="password"
								autocomplete="current-password" required />
							<span class="text-danger" [hidden]="EnterPassword">Password is required</span>
						</label>
					</div>
					<button type="submit" mat-raised-button class="btn w-100 loginbutton bordernone"><b>Login</b></button>
					<br><br>
				<button *ngIf="enableMicrosoftButton" type="button" mat-raised-button
					class="btn w-100 loginbutton bordernone" (click)="singleSignOn()">Click here to Login
				</button>
			</form>
		</div>
	</div>
</div>
