<div #dashboardContent id="dashboard_content">
  <div class="row pt-4">
    <div class="col-md-9 col-lg-9 col-sm-12">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12">
          <mat-card style="height: 7rem;">
            <div style="font-weight: bold;font-size: 1.2rem">
              Hi {{firstName | titlecase}}, welcome back!
            </div>
            <div class="pt-2 admin_dash_text" *ngIf="lastRecordCompleted">
              Test #{{lastRecordCompleted.test_name}} was
              completed {{dateConvert(lastRecordCompleted.modified_on) | amTimeAgo}}
            </div>
          </mat-card>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12" id="test_status" style="padding-left:7px!important">
          <mat-card style="height: 7rem;border-radius: 0.75rem;">
            <div style="font-weight: bold;font-size: 0.8rem;">Test Summary</div>
            <div class="row pt-3">
              <div class="col-md-4 col-lg-4">
                <div style="color:#84888b;font-size: 0.75rem;">Completed</div>
                <div style="font-weight: bold;font-size: 1.125rem;">{{completedCount}}</div>
              </div>
              <div class="col-md-4 col-lg-4" style="border-left: 1px solid lightgray;">
                <div style="color:#84888b;font-size: 0.75rem;">Ongoing</div>
                <div style="font-weight: bold;font-size: 1.125rem;">{{ongoingCount}}</div>
              </div>
              <div class="col-md-4 col-lg-4" style="border-left: 1px solid lightgray;">
                <div style="color:#84888b;font-size: 0.75rem;">Drafts</div>
                <div style="font-weight: bold;font-size: 1.125rem;">{{draftCount}}</div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="pt-4 pb-4">
        <mat-card style="border-radius: 12px;height: 350px !important;">
            <mat-card-content>
              <app-common-table [tableData]="TestSummary" [columnHeader]="columnHeader1" [tableHeader]="'All tests'" [tableType]="dashboard"
                                (editData)="receivedData($event,'edit')" (historyData)="receivedData($event,'history')"
                                (deleteData)="deleteData($event)" (analyseData)="gotoAnalyseStep($event)"
                                (callFilterData)="filterCall()" [originalData]="originalData"
                                (callSortData)="sortDataLoadSavedsummary($event)">
              </app-common-table>
              <div *ngIf="testSummaryDataCount == 0">
                <p class="no_rec_found">No Records Found</p>
              </div>
            </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div id="getting_start" class="col-md-3 col-lg-3 col-sm-12 custom-width">
      <div class="flex-column">
        <ng-container>
          <div [ngStyle]="{'visibility': listItems.length > 0 ? 'unset' : 'hidden'}" ngbDropdown style="cursor: pointer"
               id="dropdownBasic1" ngbDropdownToggle>
            <div class="test_impact"><span style="white-space: break-spaces;">Test Impact of <u>Test #{{testImpactId}}</u></span>
              <i class="fa fa-angle-down pl-2" aria-hidden="true"></i><br/>
              <span style="font-size: 0.625rem !important;color: #5e5f60;">{{test_window}}</span>
            </div>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <perfect-scrollbar [perfectScrollbar]="configPerfect" [style.max-height.px]="200">
                <div ngbDropdownItem *ngFor="let items of listItems">
                  <div (click)="getGrossSales(items.test_id)" class="upload_text1 font_mulish_regular">{{items.test_name}}
                  </div>
                </div>
              </perfect-scrollbar>
            </div>
          </div>
          <div style="padding-top: 1rem;" [ngStyle]="{'visibility': listItems.length > 0 ? 'unset' : 'hidden'}">
            <mat-card>
              <div id="cardChanges" class="rowChanges">
                <div class="col">
                  <span class="card-title mb-0" style="font-size: 14px;color: #7a8aa0;">Gross Sales</span>
                  <div class="mt-2">
                    <span class="font-weight-bold" style="font-size: 1.2rem;color:#2dc887">{{gross_sales}}%</span>
                    <!-- <span class="ml-2 text-sm" style="color: #7a8aa0;font-size: 0.65rem !important;">(P value 122)</span> -->
                  </div>
                </div>
                <div class="col-auto mt-1">
                  <div class="icon icon-shape text-white rounded-circle icon-bg-color">
                    <i class="fas fa-bar-chart" style="color: #0f0f98;font-size: 18px"></i>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
        </ng-container>
        <div class="route_container_top">
          <mat-card style="overflow: auto;height: 19.1rem;">
            <div class="getting_start">Getting Started</div>
            <mat-card-content>
              <mat-accordion>
                <mat-expansion-panel class="border_bottom" id="getStarted">
                  <mat-expansion-panel-header class="card-panel">
                    <mat-panel-description>
                      <div class="cards-style" style="font-weight: bold;color:#28282a;font-size: 0.813rem;">How to run a
                        test?
                      </div>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p> Once you have a test plan approved by your team, you can start off with the create new test on the side navigation. The different steps involved in starting and running a test are laid out for you there.</p>
                </mat-expansion-panel>
                <mat-expansion-panel class="border_bottom" id="getStarted">
                  <mat-expansion-panel-header class="card-panel">
                    <mat-panel-description>
                      <div class="cards-style" style="font-weight: bold;color:#28282a;font-size: 0.813rem;">What Should
                        I Know before run a test?
                      </div>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p> Before creating/running a test, the user should know the type of test they want to perform (Frequency, Duration, RTM Impact Test, Activity, Others), the target variable (RSV or Volume), the Post-Test Window (Timeframe in which the test has to run) and the Pre – Test Window (Timeframe with which the comparison has to be done).</p>
                </mat-expansion-panel>
                <mat-expansion-panel class="border_bottom" id="getStarted">
                  <mat-expansion-panel-header class="card-panel">
                    <mat-panel-description>
                      <div class="cards-style" style="font-weight: bold;color:#28282a;font-size: 0.813rem;">What is the
                        ideal duration of any test?
                      </div>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p> It’s ideal to run a test for at least 4 weeks for tests other than RTM Impact Test. For RTM Impact Test the ideal duration is spread across at least 2 years (1 year each for Pre-Test and Post-Test Window).</p>
                </mat-expansion-panel>
                <mat-expansion-panel id="getStarted">
                  <mat-expansion-panel-header class="card-panel">
                    <mat-panel-description>
                      <div class="cards-style" style="font-weight: bold;color:#28282a;font-size: 0.813rem;">Can I edit a
                        test once it is initiated?
                      </div>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p> Tests that are created and having the status as <b>Draft Saved</b>  or <b>Test Running</b> can be edited. Tests that are created and having the status as <b>Test Analysis</b> cannot be edited</p>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #deleteDialog>
  <mat-dialog-content>
    <div style="font-size: 1.18rem;"><b>Are you sure you want to delete "Test #{{test_name_delete}}"</b></div>
    <div class="delete_small_text"> If you delete the file, you won`t be able to reverse this action</div>
  </mat-dialog-content>
  <mat-dialog-actions style="float: right;padding-top: 1.5rem;margin-bottom: -10px">
    <button mat-button class="button-color font_family_button" (click)="closeDeleteDailog(0)"
            style="cursor: pointer">Cancel
    </button>
    <button mat-button class="pl-2 button-color-enabled-background font_family_button" (click)="closeDeleteDailog(1)"
            style="cursor: pointer" type="submit">Delete
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #deleteDialog>
  <mat-dialog-content>
    <div style="font-size: 1.18rem;"><b>Are you sure you want to delete "Test #{{test_Id_delete}}"</b></div>
    <div class="delete_small_text"> If you delete the file, you won`t be able to reverse this action</div>
  </mat-dialog-content>
  <mat-dialog-actions style="float: right;padding-top: 1.5rem;margin-bottom: -10px">
    <button mat-button class="button-color" (click)="closeDeleteDailog(0)" style="cursor: pointer">Cancel</button>
    <button mat-button class="pl-2 button-color-enabled-background" (click)="closeDeleteDailog(1)"
            style="cursor: pointer" type="submit">Delete
    </button>
  </mat-dialog-actions>
</ng-template>
